fieldset{
    background-color: lightgray;
    border: 3px plum solid;
}

legend{
    color: plum;
    font-size: 1em;
    margin: auto;
}

fieldset label {
    display: inline-block;
    width:250px;
    margin-top: 8px;
}